<div id="<%= dom_id product %>">

  <p>
    <%= image_tag product.image, :transformation=>["media_lib_thumb"], :width=>200, :crop=>"scale", cloud_name: 'nakoawolf' %>
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= product.user.email %>
  </p>
</div>
